body {
    font-family: 'Meiryo UI';
    font-size: 0.9em;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main {
    margin: 0.5em;
    padding: 0.5em;
}

article {
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}

.head_nav {
    margin-bottom: 1em;
    background: #556655;
    color: #EEEEEE;
    padding: 0.7em;
}
.head_nav ul li {
    margin: 0.5em;
    display: inline;
    /*vertical-align: middle;*/
}

.head_nav ul {
    display: inline;
    margin: 1em;
    vertical-align: middle;
    
}

.head_nav h1 {
    font-size: 1.5em;
    font-weight: normal;
    display: inline;
    vertical-align: middle;
}

.head_nav ul li a {
    color: #EEEEEE;
    text-decoration: none;
}

.head_nav a:hover {
    text-decoration: underline;
}

.head_nav ul li a#active {
    color: #EEEEEE;
    font-weight: bold;
}

.car_table {
    margin-bottom: 1em;
    color: #555555;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    border-spacing: 1em;
}

.car_table tr th,
.car_table tr td {
    text-align: left;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.5em;
}

.car_table tr th {
    font-weight: normal;
    background: #EEEEEE;
}

.one_line {
    margin-bottom: 0.5em;
    padding: 0.5em;
    background: #DDFFDD;
    text-align: bottom;
}